<%- include("./partials/header") %>

    <div class="container text-capitalize">
        <main class="row gx-sm-3 gx-md-5">
            <% companies.forEach(company=> {%>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mb-5">
                    <div class="card w-100">
                        <div class="card-body">
                            <span id= "delete-button" class=" rounded-circle">X</span>
                            <h5 class="card-title text-center">
                                <%= company.name %>
                            </h5>
                            <p class="card-text">
                                CIN: <strong>
                                    <%= company.cin %>
                                </strong>
                                City: <strong>
                                    <%= company.city %>
                                </Strong>
                            </p>
                            <p class="card-text"> Province: <strong>
                                    <%= company.province %>
                                </Strong>
                                City: <strong>
                                    <%= company.city %>
                                </Strong></p>

                            <a href="#" class="btn-more btn btn-dark ms-auto">More</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </main>
    </div>


    <%- include("./partials/footer") %>